.card2 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: contain;
}

.card2.rotate {
  transform: rotate(180deg);
}

.card-sleeve2 {
  width: 9rem;
  height: 11rem;
  margin: 0 auto;
  perspective: 1000px;
}

.card-sleeve-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-sleeve2.flipped .card-sleeve-inner2 {
  transform: rotateY(180deg);
}

.back2,
.front2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.back2 {
  transform: rotateY(180deg);
}
