:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("../../public/homeScreenBackground.gif");
  color: antiquewhite;
}

button {
  background-color: brown;
  color: rgb(204, 201, 34);
  border-color: rgb(190, 190, 190);
  border-radius: 2rem;
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom right,
    #9e6868 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #a85555 60%,
    #ff1f1f 80%,
    #944545 100%
  );
}

button:hover {
  color: #f4ff55;
  border-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom right,
    #e0b2b2 0%,
    #ff3d3d 20%,
    #ff6a6a 40%,
    #e0b2b2 60%,
    #ff1f1f 80%,
    #e0b2b2 100%
  );
}
