.container {
  display: flex;
  justify-content: center;
  background-image: url("/pokerTable.png");
  background-position-x: 50%;
  background-position-y: 43%;
  background-size: 125%;
}

.poker-container {
  display: grid;
  height: 43rem;
  grid-template-rows: 11rem 11rem 11rem;
  gap: 2rem;
  margin-top: 6rem;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  justify-content: center;
  place-content: center;
  align-content: center;
}

.center-container {
  display: grid;
  grid-template-columns: repeat(7, 8rem);
  justify-content: center;
  place-content: center;
  align-content: center;
  margin-left: 16rem;
}

#reveal-button {
  display: flex;
  height: 5rem;
  width: 5rem;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#game-result {
  margin-left: 5rem;
  width: 12rem;
  justify-self: center;
  align-self: center;
}

#newgame-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.bet-container {
  display: grid;
  grid-template-rows: repeat(3 33%);
  justify-content: center;
  align-items: center;
}

.bet-button-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10%;
}

.bet-button {
  display: flex;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  place-items: center;
  font-size: 150%;
}
