.card-container {
  display: grid;
  grid-template-columns: repeat(13, 7rem);
  gap: 1rem;
  justify-content: center;
  margin-top: 10px;
}

.selected-image {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 80vh;
}
